* {
  transition: 0.3s ease;
  font-size: 1.3rem;
}

body {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(100deg, #555555, rgb(0, 0, 0));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 50%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: red;
}

.gameContainer {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
}

.introMenu {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introText {
  text-decoration: underline;
}

.startGameBtn {
  background-image: linear-gradient(100deg, #6189a0, rgb(179, 233, 255));
  color: rgb(90, 0, 0);
  border-radius: 15px;
  padding: 10px;
  border-width: 5px;
}

.gameGrid0,
.gameGrid1,
.gameGrid2 {
  transition: 1s ease;
  border: 5px outset red;
}

.gameGrid1 {
  display: grid;
  justify-content: start;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px 2px;
}

.gridSqr1,
.gridSqr2,
.gridSqr3,
.gridSqr4,
.gridSqr5,
.gridSqr6,
.gridSqr7,
.gridSqr8,
.gridSqr9 {
  border: 5px outset red;
  height: 100px;
  width: 100px;
}