* {
  transition: 0.3s ease;
  font-size: 1.3rem;
}

body {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(100deg, #555555, rgb(0, 0, 0));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 50%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: red;
}

.gameContainer {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
}

.introMenu {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.introText {
  text-decoration: underline;
  font-size: 1.8rem;
}

label { 
  width: 125px;
  margin-left: 10px;
}

input[type=text] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  text-align: center;
  border: 2px outset red;
  border-radius: 20px;
  background-color: rgb(65, 65, 65);
  color: white;
  width: 270px;
}

input:required:invalid {
  border-color: #009ac0;
}

.gameOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;  
  flex-direction: row;
  margin-top: 25px;
}

input[type=radio] {
  margin: 15px;
  transform: scale(2);
  background-color: green;
}

.startGameBtn,
.restartBtn {
  background-image: linear-gradient(100deg, #6189a0, rgb(179, 233, 255));
  color: rgb(90, 0, 0);
  border-radius: 15px;
  padding: 10px;
  border-width: 5px;
  margin-top: 50px;
}

.gameGrid0,
.gameGrid1,
.gameGrid2 {
  transition: 1s ease;
  border: 5px outset red;
}

.gameGrid0,
.gameGrid2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;  
  flex-direction: column;
  padding: 20px;
}

.gameGrid0 {
  margin-right: 20px;
}

.gameGrid2 {
  margin-left: 20px;
}

.gameGrid1 {
  display: grid;
  justify-content: start;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px 2px;
  padding: 20px;
}

.sqr1,
.sqr2,
.sqr3,
.sqr4,
.sqr5,
.sqr6,
.sqr7,
.sqr8,
.sqr9 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center; 
  border: 5px outset red;
  height: 100px;
  width: 100px;
}

.fa-times {
  color: yellowgreen;
  font-size: 3rem;
}
.fa-circle {
  color: blueviolet;
  font-size: 2.5rem;
}

.winMessage {
  transition: 1s ease;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center; 
  text-align: center;
  font-size: 2rem;
  background-color: black;
  opacity: 0.8;
  color: red;
  padding: 15px;
  border-radius: 15px;
  width: 500px;
  margin: 0;
}